<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pickup Call</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://www.nestle.co.id/sites/g/files/pydnoa241/files/Recycle%20Waste%20dan%20Perannya%20Terhadap%20Kelangsungan%20Bumi.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Adress : XXXXXXXXXX, 123</p>
      <p>Complement : XXXXX, 22</p>
      <p>Neighbhorhood : Alfamart</p>
      <p>Zip Code : 19272</p>
      <p>City Name : Bogor</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create Pickup Call</ion-button>
</ion-content>
